BACKEND_PORT=8000
POSTGRES_HOST_PORT=15432
REDIS_HOST_PORT=16379

DB_HOST=postgres
DB_PORT=5432
DB_USER=moex_user
DB_PASS=moex_password
DB_NAME=moex_db

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_JWT_SECRET=change-me-please
AUTH_JWT_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_MINUTES=15
AUTH_REFRESH_TOKEN_DAYS=7
