fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic-settings==2.9.1
httpx==0.27.2
redis==5.2.1
sqlalchemy==2.0.40
asyncpg==0.30.0
loguru==0.7.3
PyJWT==2.10.1
alembic==1.16.1
black==25.1.0
taskiq==0.11.18
taskiq-redis==1.0.2
